@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #1a1a1a; /* Dark Gray */
    color: #f5f5f5; /* Light Gray */
}

@keyframes animate-from-left {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
.animate-from-left {
    animation: animate-from-left 1s ease-out forwards;
}

@keyframes animate-from-right {
    from {
        opacity: 0;
        transform: translateX(100px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
.animate-from-right {
    animation: animate-from-right 2s ease-out forwards;
}

@keyframes animate-from-bottom {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.animate-from-bottom {
    animation: animate-from-bottom 3s ease-in-out forwards;
}

/* Loader Animation */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loader {
    border: 8px solid #fff;
    /* border: 8px solid #d1d5db; */
    /* border: 8px solid rgba(0, 0, 0, 0.1); */
    border-radius: 50%;
    border-top: 8px solid #2dd48f;
    width: 70px;
    height: 70px;
    animation: spin 1s linear infinite;
}

#group-buy-submit-btn,
#group-buy-join-btn,
#user-form-edit-btn {
    margin-top: 40px;
}
#header-signin-btn,
#header-signout-btn {
    margin-left: 30px;
}
