@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #1a1a1a; /* Dark Gray */
    color: #f5f5f5; /* Light Gray */
}

/* Loader Animation */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loader {
    border: 8px solid #fff;
    /* border: 8px solid #d1d5db; */
    /* border: 8px solid rgba(0, 0, 0, 0.1); */
    border-radius: 50%;
    border-top: 8px solid #2dd48f;
    width: 70px;
    height: 70px;
    animation: spin 1s linear infinite;
}

#group-buy-submit-btn {
    margin-top: 40px;
}
